# Configuration file

~CONFIG_VERSION: 1

donation {
    # 각 구간의 칭호 [default: [기부천사], [큰손], [전설의 후원자]]
    S:milestoneTitles <
        기부천사
        큰손
        전설의 후원자
     >

    # 개인 누적 기부 보상 구간 [default: [1000000], [10000000], [50000000]]
    S:personalMilestones <
        1000000
        10000000
        50000000
     >

    # 서버 전체 기부 목표
    S:serverDonationGoal=100000000
}


travel {
    # 이동 쿨다운 [range: 0 ~ 3600, default: 30]
    I:cooldownSeconds=30

    # 이동 대기 시간 [range: 0 ~ 30, default: 3]
    I:delaySeconds=3
}


tutorial {
    # 첫 접속 채팅 튜토리얼 사용 [default: true]
    B:enabled=true

    # 채팅 튜토리얼 페이지. 각 항목이 한 페이지입니다.
    S:messages <
        &e어서 오세요! &f해당 서버는 경제를 중심으로 돌아가는 서버입니다.
        &f농사, 광질, 낚시, 요리 등의 콘텐츠로 돈을 벌 수 있습니다. 번 돈으로 인챈트, 스킨, 펫, 탈것 등을 구매할 수 있습니다.
        &fShift+F로 거점 이동 메뉴를 열어 이동할 수 있습니다.
        &f첫 영지 1청크는 무료입니다. 청크를 더 넓히려면 땅을 구매해야 합니다.
     >
}


